name: Build on Linux
on: 

  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main", "releases/**" ]
  workflow_dispatch:
    inputs:
      compiler:
        required: false
        type: string
        default: latest
          
  workflow_call:
    inputs:
      compiler:
        required: true
        type: string
        default: latest

jobs:
    
    build-linux:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4

        - name: Cache Dependencies
          id: cache-dependencies
          uses: actions/cache@v3
          with:
            path: 3rd_64
            key: ${{ github.ref }}-3rd_64

        - name: Install compiler ${{ inputs.compiler || 'latest' }}
          id: install_cc
          uses: rlalik/setup-cpp-compiler@master
          with:
            compiler: ${{ inputs.compiler || 'latest' }}
              
        - name: Build on Linux
          run: ./build.sh

        - name: Upload artifact
          uses: actions/upload-artifact@v4
          with:
            name: install-librir-ubuntu-latest-${{ inputs.compiler || 'latest' }}
            path: build/install
