name: Build on Windows
on: 

  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      compiler:
        required: false
        type: string
        default: clang
          
  workflow_call:
    inputs:
      compiler:
        required: true
        type: string
        default: clang

jobs:
    build-windows:
        runs-on: windows-latest
    
        steps:
        - uses: actions/checkout@v3


        - name: Install compiler ${{ inputs.compiler || 'latest' }}
          id: install_cc
          uses: rlalik/setup-cpp-compiler@master
          with:
            compiler: ${{ inputs.compiler || 'latest' }}
            
        # - name: Set up Python ${{ inputs.python-version }}
          
        #   uses: actions/setup-python@v4
        #   with:
        #     python-version: ${{ inputs.python-version }}        

    
        # - name: Install python dependencies
        #   run: |
        #     python -m pip install --upgrade pip       

        - name: Build on Windows
          run: ./build.bat

        - name: Upload artifact
          uses: actions/upload-artifact@v3
          with:
            name: install-librir-windows-latest
            path: build/install
