name: Build FFMPEG

on: 

 # push:
 #   branches: [ "main" ]
 # pull_request:
 #   branches: [ "main" ]
  workflow_dispatch:
  workflow_call:


jobs:
  build-ffmpeg:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Cache Dependencies
        id: cache-dependencies
        uses: actions/cache@v3
        with:
          path: 3rd_64
          key: ${{ github.ref }}-3rd_64

      - if: ${{ (steps.cache-dependencies.outputs.cache-hit != 'true') }}
        run: ./configure_ffmpeg


      # - name: Archive ffmpeg compilation artifacts
      #   uses: actions/upload-artifact@v3
      #   with:
      #     path: 3rd_64
      #     name: 3rd_64
