name: Build on Linux
on: 

 # push:
 #   branches: [ "main" ]
 # pull_request:
 #   branches: [ "main" ]
  workflow_dispatch:
  workflow_call:


jobs:
    build-ffmpeg:
      uses: IRFM/librir/.github/workflows/build-ffmpeg.yml@dubusster-patch-2

    build-linux:
      needs: build-ffmpeg
      strategy:
        matrix:
          # python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
          # os: [ubuntu-latest, windows-latest]
          python-version: ["3.9"]
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3

        - name: Download ffmpeg artifact
          uses: actions/download-artifact@v3
          with:
            name: 3rd_64

        - name: Set up Python ${{ matrix.python-version }}
          
          uses: actions/setup-python@v4
          with:
            python-version: ${{ matrix.python-version }}

        - name: Install python dependencies
          run: |
            python -m pip install --upgrade pip              
      
              
        - name: Build Linux
          run: ./build.sh