name: build
on: 

  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main", "releases/**" ]
  workflow_dispatch:
  workflow_call:


jobs: 
    build-linux:
        strategy:
          matrix:
            compiler: [ latest, gcc-latest, clang, gcc-6.4.0, gcc-13.2.0]
        uses: ./.github/workflows/build-linux.yml
        with:
          compiler: ${{ matrix.compiler }}

        
    build-windows:
        strategy:
          matrix:
            compiler: [ latest, gcc-latest, gcc-6.4.0, gcc-13.2.0, clang]
        uses: ./.github/workflows/build-windows.yml
        with:
          compiler: ${{ matrix.compiler }}
      
    tests-linux:
        strategy:
          matrix:
            python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
            compiler:  [ latest, gcc-latest, clang, gcc-6.4.0, gcc-13.2.0]
        needs: build-linux
        uses: ./.github/workflows/test.yml
        with:
          python-version: ${{ matrix.python-version }} 
          compiler: ${{ matrix.compiler }}
          os: ubuntu-latest

    tests-windows:
      strategy:
        matrix:
          python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
          compiler: [ latest, gcc-latest, gcc-6.4.0, gcc-13.2.0, clang]
      needs: build-windows
      uses: ./.github/workflows/test.yml
      with:
        python-version: ${{ matrix.python-version }} 
        compiler: ${{ matrix.compiler }}
        os: windows-latest
