name: librir test workflow 

on:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string
      os:
        required: true
        type: string
      compiler:
        required: false
        type: string
        default: "latest"
    # secrets:
    #   token:
    #     required: true


jobs:
    test:
        runs-on: ${{ inputs.os }}
        # needs: [build-linux, build-windows]
    
        
        steps:
        
          - name: Set up Python ${{ inputs.python-version }}

            uses: actions/setup-python@v5
            with:
              python-version: ${{ inputs.python-version }}   
              
          - uses: actions/checkout@v4
          - uses: actions/download-artifact@v4
            with:
              name: install-librir-${{ inputs.os }}-${{ inputs.compiler || 'latest' }}
              path: build/install
              
          - name: Install python dependencies
            run: |
              python -m pip install --upgrade pip
              pip install ruff pytest pytest-cov
              pip install -e build/install/python
    
          - name: Test with pytest
            continue-on-error: false
            run: |
              python -m pytest --junitxml=pytest.xml --cov-report=term-missing:skip-covered --cov=librir tests/python -m "not thermavip"  | tee pytest-coverage.txt

          - name: Upload coverage reports to Codecov
            uses: codecov/codecov-action@v5
            with:
              token: ${{ secrets.CODECOV_TOKEN }}
            # env:
            #   CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
              
         # - name: Pytest coverage comment
         #   uses: MishaKav/pytest-coverage-comment@main
         #   with:
         #     pytest-coverage-path: ./pytest-coverage.txt
         #     junitxml-path: ./pytest.xml

         # - name: Coverage Badge
         #   uses: tj-actions/coverage-badge-py@v2
    
        #   - name: Lint with ruff
        #     run: |
        #       # stop the build if there are Python syntax errors or undefined names
        #       ruff --format=github --select=E9,F63,F7,F82 --target-version=${{ inputs.python-version }} .
        #       # default set of ruff rules with GitHub Annotations
        #       ruff --format=github --target-version=${{ inputs.python-version }} .
